<div class="container">
  <div class="row">
    <div class="col-3">
     <ul>
       <li>
         <a href="">add</a>
       </li>
       <li>
         <a href="">Update</a>
       </li>
       <li>
         <a href="">Delete</a>
       </li>
     </ul>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-header">
          <h1>Gestion Passations</h1>
        </div>
        <div class="card-body">
          <table class="table-responsive">
            <thead>
             <tr>
               <th>Id</th> <th>Valeur</th> <th>Commentaire</th> <th>Pièce Jointe</th>
             </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
